* {
    margin: auto 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    margin-top: 5%;
    width: 100%;
    border-bottom: 5px solid black;
}

#header {
    display: flex;
    margin: 0px 50px;
    margin-bottom: 20px;
}

#scores, #timer {
   flex: 50%;
}

#main-section {
    margin-top: 5%;
    border-bottom: 5px solid black;
}

#opening {
    text-align: center;
    margin: 0px 50px;
    margin-bottom: 5%;
}

#opening h2{
    display: block;
    line-height: 300%;
}


#questionBox, #questionPrompt {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-table {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 45px, 0px;
}

#endMenu {
    margin-top: 5%;
}

#endMenu h2, p, div {
    text-align: center;
    display: block;
    line-height: 300%;
}


.hidden {
    display: none;
}
